#accMain
{
  background-color: var(--rich-black);
  border: .35vw double var(--cornflower-blue);
  border-radius: 3vw;
}

main
{
  background: var(--oxford-blue);
  color: var(--lavender-web);
}

.input-names input{
  width:100%;
} 