#card1,
#card2
{
    --size: 100%;
    margin-left: .25vw;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mainCardButton
{
    background: var(--dark-purple);
    border: .3em solid var(--lavender-web);
    color: var(--lavender-web);
    font-size: 2.25ch;
    font-weight: bold;
    margin-left: 3%;
    width: 30%;
}
.mainCardButton:hover
{
    
    background: var(--pale-purple);
    border: .3em solid var(--whitish);
    color: var(--lavender-web);
}
.mainCardImage
{
    background: var(--cornflower-blue);
    border-bottom: 9pt double var(--cornflower-blue);
    width: 100%;
}
.mainCardImage img
{
    height: 200px;
}
.mainCardTitle
{
    border-bottom: 9pt double var(--cornflower-blue);
    color: #141259;
    font-size: 24px;
    font-weight: 700;
    padding: 2% 0;
    text-align: center;
}
.mainCardTitle a
{
    color: var(--lavender-web);
    text-decoration: none;
}
.mainCardTitle a:hover
{
    color: var(--electric-blue);
}
.mainCardPrice
{
    border-bottom: 9pt double var(--cornflower-blue);
    color: var(--lavender-web);
    font-size: 1.2em;
    font-weight: 700;
    line-height: 190%;
    padding-left: 10%;
    text-align: center;
}
.mainCardSettings
{
    overflow:hidden;
}
.mainCardText
{
    font-size: 14px;
    margin-right: 0.25em;
    text-align:justify;
}
#card1 article,
#card2 article
{
    background: var(--blue-ryb);
    border: .15em solid var(--cornflower-blue);
    box-sizing: border-box;
    text-justify: center;
}
#card1 article img,
#card2 article img
{
    width: 100%;
}

@media all and (min-width: 768px)
{
    #card
    {
        margin: 0.4em 1.5% 0.6em 1.5%;
    }
}