#carrusel
{
    --height:64vh;
    height: var(--height);
}
#carrusel img
{
    height: var(--height);
}
.carousel-control-prev
{
    background: var(--blueU);
    width:4%;
}
.carousel-control-next
{
    background: var(--blueU);
    width:4%;
}
.carousel-indicators
{
    margin-left: 0;
}
@media all and (min-width: 576px)
{
    #carrusel
    {
        --height: 64vh;
    }
}