#msgContact
{
  width:100%;
}
.inputContact
{
  background: var(--mangoTango);
  border: .15em solid var(--teal-blue);
  border-radius: 5vw;
  padding: .5% 4% .5% 4%;
  width: 95%;
}
main
{
  background-image: url(../img/contactbg.png);
  color: var(--mangoTango);
  text-shadow:
  1px 1px 0 var(--rich-black),
  -.5px -.5px 0 var(--rich-black);
}
textarea
{
  background: var(--mangoTango);
  border: .15em solid var(--teal-blue);
  border-radius: 1vw;
  padding: 2% 4% 2% 4%;
}