#conn{
    line-height: 200%;
}
#conn li a nobr{
    color: var(--midnightblue);
}
#copyr{
    text-align: justify;
}
#copyr p{
    font-size: 10px;
}
#fLists ul
{
    padding-left: 1rem;
}
#fLists ul li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
}
#fLists ul li a{
    color: var(--blue-ryb);
    text-decoration: none;
}
#ftitle{
    color: var(--resolution-blue);
    font-family: 'Righteous', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
#mail{
    font-weight: 600;
    margin-right: 2vw;
}
.fBox
{
    width: 100%;
}
#mail button{
    font-weight: 700;
}
#mail h3{
    font-family: 'Righteous', sans-serif;
}
#terms a{
    color: var(--rich-black);
    font-weight: 600;
    text-decoration: none;
}
.fh5{
    color:var(--resolution-blue);
    font-family: 'Righteous', sans-serif;
    font-size: 28px;
    font-weight: 600;
}