header
{
  --width-logo: calc(100vw / 4);
  background: var(--wild-blue-yonder);
  box-sizing: border-box;
  display: flex;
  height: 80px;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 3;
}
header picture img
{
  height: 80px;
  margin: 0;
  margin-left: .9vw;
  z-index: 0;
}
nav
{
  margin: auto;
}
nav div
{
  height: 38px;
}
.btn-link
{
  color: var(--oxford-blue);
  font-size: 18px;
  font-weight: 700;
}
.btn-link:hover
{
  color: var(--electric-blue);
}
.navBCont
{
  font-size: 24px;
  font-weight: 700;
  margin-top: 2px;
}
.navBCont ul
{
  background: var(--blue-ryb);
  margin-top: 0;
}
.navBCont ul li
{
  border-bottom: 2vw solid black;
  box-sizing: border-box;
  list-style-type: none;
  padding: 19%;
}
.navBCont ul li a
{
  margin: auto;
}
.navButtons
{
  background: var(--blue-ryb);
  border-left: 1vh solid var(--wild-blue-yonder);
  color: var(--persian-blue);
  line-height: 160%;
  text-decoration: none;
}
.navButtons:hover
{
  color: var(--lavender-web);
  background: var(--dark-purple);
}
.navList
{
  background: var(--blue-ryb);
  color: var(--persian-blue);
}
#hButtons
{
  display: none;
  height: 80px;
  margin: auto;
}
#hButtons button
{
  background: var(--dark-purple);
  border: 0.6vh double var(--pale-purple);
  border-radius: 50vh;
  height: 16vw;
  max-height: 70px;
  margin: auto;
  width: 16vw;
  max-width: 70px;
}
#upperBar
{
  height: 80px;
}

@media all and (max-width:992px)
{
  .btn-link
  {
    font-size: 14px;
  }
}
@media all and (max-width:767px)
{
  #hButtons
  {
    display: flex;
  }
}