.searchArticle
{
  background-color: var(--resolution-blue);
  border: .45vw double var(--rich-black);
  color: var(--lavender-web);
}
.searchTitle
{
  border-bottom: 2px solid var(--emerald);
  font-sammily: 'Righteous',sans-seriff;
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding-left: .35em;
}
.searchPrice
{
  font-weight: 600;
  border-bottom: 2px solid var(--emerald);
  padding-left: .35em;
}
.searchDesc
{
  font-weight:600;
}
.searchButton
{
  height: 100%;
  width: 100%;
}