#estilo
{
    text-align: center;
    flex: 100%;
    flex-direction: row;
}
#estilo label
{
    display: flex;
    text-align: center;
}
#estilo input
{
    display: none;
}
:checked + span
{
    color: red;
}