main
{
  background-color: var(--rich-black);
}
.userNav
{
  background: var(--resolution-blue);
  border: .8vh double var(--oxford-blue);
  border-radius: 3vw;
  color: var(--blueU);
  margin:5%;
}
.cardNav
{
  background: var(--resolution-blue);
  border: .8vh double var(--oxford-blue);
  border-radius: 3vw;
  color: var(--blueU);
  margin:5%;
  min-height: calc(100vh / 4);
  min-width: calc(100vw / 4);
}
.cardNav img
{
  background: var(--blueU);
  border: .8vh double var(--blue-ryb);
  border-radius: 20vw;
  margin-left: 2.5%;
  height: 10vh;
  width: 10vh;
}
.userNav img
{
  background: var(--blueU);
  border: .8vh double var(--blue-ryb);
  border-radius: 20vw;
  margin-left: 2.5%;
  height: 10vh;
  width: 10vh;
}
.accNavTxt
{
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.addField input
{
  background: var(--mangoTango);
  border: .15vw solid var(--teal-blue);
  padding: .5% 4%;
  width: 100%;
}
select
{
  background: var(--mangoTango);
  border: .15vw solid var(--teal-blue);
}
#nbAdd
{
  width: 60%;
}
.addCards
{
  min-height: 60vh;
}
.addCards button
{
  color: var(--blueU);
}
#addCont
{
  position: relative;
}
#addAdd
{
  background: transparent;
  border: initial;
  border-radius: initial;
  margin: 0;
  height: 50%;
  filter: invert(87%) sepia(99%) saturate(7110%) hue-rotate(171deg) brightness(99%) contrast(95%);
  padding: 3%;
  position: absolute;
  width: 100%;
}
#addTxt
{
  font-weight: 600;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-decoration: underline;
  top: 75%;
  width: 30%;
  z-index: 3;
}
#tinyImg
{
  border: initial;
  height: initial;
  width: initial;
}
@media all and (min-width: 576px)
{
  .userNav
  {
    min-height: 100px;
    height: 8vw;
    min-height: 300px;
    width: 36vw;
  }
}
@media all and (min-width: 768px)
{
  .userNav
  {
    min-height: 150px;
    height: 21vw;
    min-height: 480px;
    width: 24vw;
  }
}
.cardNav
  {
    height: fit-content(300px);
    padding: 5% 0;
    width: 100%;
  }