.modal-content{
background: var(--wild-blue-yonder);
}

.modalInput{
    background-color: white;
    border-radius: 5px;
}

label input{
    background: white;
    border-radius: 5px;
}
label{
    margin-top: 3px;
}
.h4, .h2{
    color: black;
}

#addModal{
    color: black;
}